@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;500&family=Bellefair&family=Rubik:ital,wght@1,300&display=swap');

body {
    color: #FFFFFF;
    height: 100vh;
    background: url("/starter-code/assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;
}

/*To create Left aligned navigation bar*/
header {
    display: flex;
}

header>div {
    padding-top: 48px;
    width: 40%;
}

header>div>hr {
    position: relative;
    left: 20%;
    z-index: 5;
    width: 73%;
    background-color: #ffffff90;
    border: none;
    height: 0.1px;
}

nav {
    display: flex;
    height: 70px;
    width: 60%;
    margin-top: 20px;
    background-color: #9797975b;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: space-around;
    padding: 0 20px 0px 20px;
    letter-spacing: 3px;
    font-weight: 300;
}

nav a {
    height: 60%;
    margin-top: 30px;
    transition: border-bottom 0.2s;
}

.activeNavLink {
    color:#FFFFFF;
    border-bottom: solid 5px #FFFFFF;
    box-sizing: border-box;
}

nav a:hover {
    border-bottom: solid 5px #ffffff72;
    box-sizing: border-box;

}

.navL {
    font-weight: 700;
}
/*Section Formatting*/
section{
    display: flex;
    flex-direction: column;
    padding: 10%;
    padding-bottom: 0;
    padding-top: 6%;
}
section h1{
    font-size: 2.2em;
        font-variant-caps: all-petite-caps;
        letter-spacing: 3px;
        font-weight: 200;
        letter-spacing: 3px;
        word-spacing: 10px;
}
section h1 span{
    font-weight: 500;
    color: #ffffff6c;
}
/*planet nav formattting*/
.planetNav{
    background-color: transparent;
    padding-left:0;
    color: #ffffffbe;
}

/*content formatting*/
.content{
    height: 600px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px ;
}
.planetPanel{
    width: 500px;
}
.planettitle {
    font-weight: 100;
    font-size: 150px;
    font-family: 'Bellefair', serif;
    font-variant-caps: all-petite-caps;
    margin-bottom: 20px;
}
.planetContent {
    line-height: 25px;
    font-weight: 100;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    padding-bottom: 30px;
    border-bottom:solid 1px #ffffff91 ;
}
.planetData{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
        font-weight: 100;
        letter-spacing: 2px;
        word-spacing: 2px;
        padding-bottom: 30px;

}
.planetNumber{
    font-weight: 300;
    font-size: 35px;
}