@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;500&family=Bellefair&family=Rubik:ital,wght@1,300&display=swap');

body {
    color: #FFFFFF;
    height: 100vh;
    background: url("/assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;
}

/*To create Left aligned navigation bar*/
header {
    display: flex;
}

header>div {
    padding-top: 22px;
    padding-left: 20px;
    width: 40%;
    display: flex;
    align-items: center;
}

header>div>hr {
    position: relative;
    left: 15%;
    z-index: 5;
    width: 73%;
    background-color: #ffffff90;
    border: none;
    height: 0.1px;
}

nav {
    display: flex;
    height: 70px;
    width: 60%;
    margin-top: 20px;
    background-color: #9797975b;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: space-around;
    padding: 0 20px 0px 20px;
    letter-spacing: 3px;
    font-weight: 300;
}

nav a {
    height: 60%;
    margin-top: 30px;
    transition: border-bottom 0.2s;
}

.activeNavLink {
    color: #FFFFFF;
    border-bottom: solid 5px #FFFFFF;
    box-sizing: border-box;
}
#activeNavLink-n {
    color: #FFFFFF;
    border-right: solid 5px #FFFFFF;
    box-sizing: border-box;
}
nav a:hover {
    border-bottom: solid 5px #ffffff72;
    box-sizing: border-box;

}

.navL {
    font-weight: 700;
}

/*Section Formatting*/
section {
    display: flex;
    flex-direction: column;
    padding: 10%;
    padding-bottom: 0;
    padding-top: 3.25%;
}

section h1 {
    font-size: 2.2em;
    font-variant-caps: all-petite-caps;
    letter-spacing: 3px;
    font-weight: 200;
    letter-spacing: 3px;
    word-spacing: 10px;
}

section h1 span {
    font-weight: 500;
    color: #ffffff6c;
}



/*content formatting*/
.content {
    height: 600px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.crewPanel {
    width: 500px;
}
.crewSubtitle{
    font-size: 35px;
        font-variant-caps: all-petite-caps;
        letter-spacing: 8px;
        font-weight: 300;
        color: #ffffffb2;
}
.crewTitle {
    font-weight: 100;
    font-size: 65px;
    font-family: 'Bellefair', serif;
    font-variant-caps: all-petite-caps;
    margin-bottom: 20px;
}

.crewContent {
    line-height: 25px;
    font-weight: 100;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    padding-bottom: 30px;
    border-bottom: solid 1px #ffffff91;
}

/*Crew nav formattting*/
.crewNav {
    
    background-color: transparent;
    padding: 0;
    height: 20px;
    width: 200px;
}
.crewNavItem{
    height: 20px;
    width: 20px;
    background-color: #ffffff2f;
    border-radius: 50%;
}
.crewNavItem:hover {
    background-color: #ffffff80;
}
.crewNavItemActive{
   background-color: #FFFFFF;
}
/*image formatting*/
.crewImg img{
    height: 680px;
}
@media (max-width: 1024px) {
    body {
        background-image: url("/assets/crew/background-crew-tablet.jpg");
        background-position: center;
    }

    .notOnTab {
        display: none;
    }

    nav {
        margin-top: 0;
        height: 85px;
        width: 80%;
    }

    section {
        padding: 20px 50px 0 20px;
    }
    .content, .crewPanel, .crewContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: none;
    }
    .content{
        height: auto;
    }

    .crewImg img {
        padding-top: 25px;
        height: 430px;
        
    }  
}
.hmb {
    display: none;
}

.hmnn {
    display: none;
}
.onMob{
    display: none;
}

@media(max-width: 600px) {
    body {
        background-image: url(/assets/crew/background-crew-mobile.jpg);
        background-position: top;
        height: auto;
    }

    header {
        justify-content: space-between;
        height: 40px;
        padding: 20px 10px 0px 10px;
    }

    header>div {
        padding-top: 0px;
        padding-left: 0px;
    }
   .hmb {
       display: flex;
       justify-content: end;

   }

   .hmb img {
       height: 80%;
   }

   .hmbA {
       position: fixed;
       right: 10px;
       height: 40px;
       z-index: 5;
   }

   .hmn {
       display: none;
   }

   .hmnA {
       display: flex;
       z-index: 3;
       flex-direction: column;
       position: fixed;
       align-items: flex-start;
       right: 0;
       top: 2px;
       height: 100%;
       background-color: #9797979e;
       backdrop-filter: blur(10px);
       width: 65%;
       padding-top: 140px;
       padding-left: 40px;
   }

   .hmnA a {
       display: flex;
       text-align: left;
       font-weight: 300;
       letter-spacing: 3px;
       width: 100%;
       height: 60px;
       margin-top: 0;
       align-items: center;
       box-sizing: border-box;
       border-right: 5px solid transparent;
       transition: border-right 0.2s;
   }
   .hmnA a span{
       margin-right:10px ;
   }

   .hmnA a:hover {
       border-right: 5px solid #ffffff80;
   }

    section {
        font-size: 14px;
        align-items: center;
        padding: 10px 20px 10px 20px;
    }

    section h1 {
        margin-bottom: 10px;
    }
    .content{
        padding: 0;
        height: auto;
    }
    .onMob{
        display: block;
    }
    .onCom{
        display: none;
    }
        .crewNav {
            margin: 10px 25% 10px 25%;
        }
    .crewPanel{
        width: auto;
    }
    .crewImg{
        border-bottom:1px solid #ffffff90 ;
    }
    .crewImg img{
        height: 300px;
    }
}