@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;500&family=Bellefair&family=Rubik:ital,wght@1,300&display=swap');
body{
    color:#FFFFFF;
    min-height: 100vh;
    background:  url("/assets/home/background-home-desktop.jpg");
    background-size: cover; 
    font-family: 'Barlow Condensed', sans-serif;
}

/*To create Left aligned navigation bar*/
header{
    display: flex;
}
header>div{
    padding-top:22px;
    padding-left: 20px;
    width: 40%;
    display: flex;
    align-items: center;
}
header>div>hr{
    position: relative;
    left: 15%;
    z-index: 5;
    width: 73%;
    background-color: #ffffff90;
    border: none;
    height: 0.1px;
}
.hmb{
    display: none;
}
nav{
    display: flex;
    height: 70px;
    width: 100%;
    margin-top: 20px;
    background-color: #9797973f;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: space-around;
    padding: 0 20px 0px 20px;
    letter-spacing: 3px;
    font-weight: 300;
}

nav a{
    height: 60%;
    margin-top:30px;
    transition: border-bottom 0.2s;
}
.activeNavLink{
    border-bottom: solid 5px #FFFFFF;
    box-sizing: border-box;
}
#activeNavLink-n {
    color: #FFFFFF;
    border-right: solid 5px #FFFFFF;
    box-sizing: border-box;
}
nav a:hover{
    border-bottom: solid 5px #ffffff72;
        box-sizing: border-box;
    
}
.navL{
    font-weight: 700;
}

/*main content section formatting*/
section{
    height: 30vh;
    padding: 10%;
    display: flex;
    padding-top: 300px;
    justify-content: space-between;
    
}

/*information card format*/
#info{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 100px;
    font-weight: 100;
    letter-spacing: 2px;
}

#Subtitle{
    font-size: 2.2em;
    font-variant-caps: all-petite-caps;
    letter-spacing: 3px;

}
#title{
    font-weight: 100;
    font-size: 10em;
    font-family: 'Bellefair', serif;
    font-variant-caps: all-petite-caps;
    margin-bottom: 20px;
}
#content{
    line-height: 25px;
}

/*explore button format*/
#explore {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: solid 50px transparent;
}
#explore div{
   
    color: #0B0D17;
    width: 250px;
    height: 250px;
    font-family: 'Bellefair', serif;
    font-variant-caps: all-petite-caps;
    font-size: 42px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#explore:hover{
    transition: border 0.2s ease-in;
    border: solid 50px #ffffff67;

}
@media (max-width: 1024px) {
    body {
        background-image: url(/assets/home/background-home-tablet.jpg);
        background-position: center;
    }

    .notOnTab {
        display: none;
    }

    nav {
        margin-top: 0;
        height: 85px;
        width: 80%;
    }

    section {
        display: flex;
        flex-direction: column;
        padding: 5%;
        padding-top: 50px;
        align-items: center;
    }

    #info {

        align-items: center;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
.hmb {
    display: none;
}

.hmnn {
    display: none;
}
@media(max-width: 600px){
    body {
            background-image: url(/assets/home/background-home-mobile.jpg);
            background-position: top;
            height: auto;
        }
        header{
            justify-content: space-between;
            height: 40px;
            padding: 20px 10px 0px 10px;
        }
        header>div{
            padding-top: 0px;
            padding-left: 0px;
        }
                   .hmb {
                       display: flex;
                       justify-content: end;
        
                   }
        
                   .hmb img {
                       height: 80%;
                   }
        
                   .hmbA {
                       position: fixed;
                       right: 10px;
                       height: 40px;
                       z-index: 5;
                   }
        
                   .hmn {
                       display: none;
                   }
        
                   .hmnA {
                       display: flex;
                       z-index: 3;
                       flex-direction: column;
                       position: fixed;
                       align-items: flex-start;
                       right: 0;
                       top: 2px;
                       height: 100%;
                       background-color: #9797979e;
                       backdrop-filter: blur(10px);
                       width: 65%;
                       padding-top: 140px;
                       padding-left: 40px;
                   }
        
                   .hmnA a {
       display: flex;
       text-align: left;
       font-weight: 300;
       letter-spacing: 3px;
       width: 100%;
       height: 60px;
       margin-top: 0;
       align-items: center;
       box-sizing: border-box;
       border-right: 5px solid transparent;
       transition: border-right 0.2s;
   }
   .hmnA a span{
       margin-right:10px ;
   }
        
                   .hmnA a:hover {
                       border-right: 5px solid #ffffff80;
                   }
        section{
font-size: 14px;
        }
                /*explore button format*/
                #explore {
                    width: 150px;
                    height: 1500px;
                    border-radius: 50%;
                    border: solid 50px transparent;
                }
        
                #explore div {
        
                    color: #0B0D17;
                    width: 150px;
                    height: 150px;
                    font-family: 'Bellefair', serif;
                    font-variant-caps: all-petite-caps;
                    font-size: 32px;
                    background-color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
        
                #explore:hover {
                    transition: border 0.2s ease-in;
                    border: solid 50px #ffffff67;
        
                }
        
        
    
        
}
